body{
    background:#66492e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:white;
    margin: 0%;
}

 h2 ,h3 ,p{
    margin: 0%;
}

#hdr{
    
    min-height: 220px;
    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.desk{
    background: #524a14;
    width: 40%;
    display: inline-block;
   
}

img{
    width: 100%;
}


.btn{
    text-decoration: none;
    color: black;
    padding :1em;
    margin: 1em , 1em;
    border: 5px solid black;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:hover{
    background: grey;
}

#hdr-bg {

    background: url('../pyramids-giza-6869507.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 260px;
    position:absolute;
    z-index: -1;
    opacity: 0.5;
    margin: 0%;
}

footer{
    min-height: 50px;
    background: white;
    color:black;
    line-height: 50px;
}

h2{
    padding-top: 1em;
    padding-bottom:  1.5em;;
}

.prices{
    background:#D4A017 ;
    min-height: 100px;
}

.contact{
    background: #B8860B;
}

section{
    padding-bottom: 1.5em;
}